{{/*
Validate values
*/}}
{{- include "kubeguardian.validateValues" . }}

{{/*
Return the proper Docker Image Registry Secret Names
*/}}
{{- include "kubeguardian.imagePullSecrets" . }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kubeguardian.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubeguardian.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.podAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- with .Values.commonAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "kubeguardian.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "kubeguardian.selectorLabels" . | nindent 8 }}
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.commonAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kubeguardian.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      containers:
      - name: {{ .Chart.Name }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 10 }}
        image: {{ include "kubeguardian.image" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
        - --metrics-bind-address={{ .Values.controller.metricsAddr }}
        - --health-probe-bind-address={{ .Values.controller.probeAddr }}
        {{- if .Values.controller.leaderElection }}
        - --leader-elect
        {{- end }}
        ports:
        - name: metrics
          containerPort: 8080
          protocol: TCP
        - name: health
          containerPort: 8081
          protocol: TCP
        livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 10 }}
        readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 10 }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        env:
        - name: CONFIG_FILE
          value: "/etc/kubeguardian/config.yaml"
        {{- if .Values.notification.slack.enabled }}
        - name: SLACK_TOKEN
          valueFrom:
            secretKeyRef:
              name: {{ include "kubeguardian.secretName" . }}
              key: slack-token
              optional: true
        {{- end }}
        {{- with .Values.env }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        volumeMounts:
        - name: config
          mountPath: /etc/kubeguardian
          readOnly: true
        - name: rules
          mountPath: /etc/kubeguardian/rules
          readOnly: true
        {{- with .Values.volumeMounts }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: config
        configMap:
          name: {{ include "kubeguardian.configMapName" . }}
      - name: rules
        configMap:
          name: {{ include "kubeguardian.rulesConfigMapName" . }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
